@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* Base font size */
}

body {
  font-family: Arial, sans-serif; /* Default font */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; /* Reset heading weights */
}

ul, ol {
  list-style: none; /* Remove default list styles */
}

img {
  max-width: 100%; /* Responsive images */
  height: auto;
}

/* Root Variables */
:root{
  --green: #06A816;
  --orange: #E75D02;
  --black: #000000;
  --white: #ffffff;
}

/* Global Styles */
body {
  font-family: 'Habibi', sans-serif;
}

/* Style for all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Irish Grover';
}

/* h1, h2, h3 Styles */
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
  padding-bottom: 20px;
  padding-top: 50px;
  padding-left: 15px;
}

h3 {
  font-size: 1.25em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

header {
  background-color: var(--green);
  display: block;
}

p {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  line-height: 1.5;
  font-size: 1.25em;
}

.title, .subtitle {
  display: block;
  margin: 0;
}

.title {
  color: var(--white);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  text-align: center;
  padding-bottom: 5px;
}

.subtitle {
  color: var(--white);
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: var(--white);
}

.nav-fruit {
  background-color: var(--orange);
  color: var(--white);
  padding: 5px 120px 5px 120px;
  margin-top: 50px;
  border-radius: 4px;
  text-align: center;
  font-size: 1.25em;
}

.nav-veg {
  background-color: var(--orange);
  color: var(--white);
  padding: 5px 95px 5px 95px;
  margin-top: 15px;
  border-radius: 4px;
  text-align: center;
  font-size: 1.25em;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.top {
  position: fixed;
  bottom: 15px;        
  right: 0px;           
  background-color: var(--orange); 
  color: var(--white);           
  padding: 20px 15px;     
  text-align: center;     
  text-decoration: none;  
  font-weight: bolder;      
  border-radius: 5px; 
  border: 2px solid var(--white);
  font-size: 1em;    
}

/* Image styling */
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  max-width: 300px;
  display: inline-block;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
  padding: 13px 45px 13px 45px;
  text-align: center;
  font-weight: bold;
}

.contact-hours {
  text-align: center;
  background-color: var(--green);
  margin-top: 50px;
  padding-bottom: 20px;
  color: var(--white);
}

.contact-hours p {
  text-align: center;
  font-weight: bold;
}

.contact-hours ul {
  line-height: 1.5;
  font-weight: bolder;
}

footer p{
  text-align: center;
  padding-bottom: 15px;
  color: var(--green);
  font-weight: bold;
}

/* MEDIA QUERIES */
@media (min-width: 834px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for Medium screens */
  }

  header {
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .title {
    order: 1; /* Title to the left */
    padding-left: 15px;
  }

  .subtitle {
    order: 2; /* Subtitle to the right */
    padding-right: 15px;
  }

  nav {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    width: 100%;
  } 

  .nav-fruit {
    order: 1; 
    margin: 0;
    width: auto;
  }

  .nav-veg {
    order: 2;
    margin: 0;
    width: auto;
  }

  .contact-hours {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
  }

  .contact, .hours {
    width: 45%; /* Each section takes up 45% of the container */
  }
  
}

@media (min-width: 1280px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for Large screens */
  }

  header {
    display: flex;
    justify-content: flex-start;
    padding-right: 0;
  }
  
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align title and subtitle to the left */
    padding-left: 5px;
  }
  
  nav {
    position: absolute;
    right: 10px; /* Nav buttons are right of header */
    top: 5%; /* Center align vertically with the header */
    background-color: var(--green);
    margin-top: 0; /* Remove top margin */
    width: 50%;
    justify-content: flex-end;
    gap: 20px;
  }

  .nav-fruit {
    order: 1; 
    margin: 0;
    width: auto;
    padding: 5px 90px 5px 90px;
    font-size: 1em;
    border: var(--white) 1px solid;
  }

  .nav-veg {
    order: 2;
    margin: 0;
    width: auto;
    padding: 5px 65px 5px 65px;
    font-size: 1em;
    border: var(--white) 1px solid;
  }

  @media (min-width: 1024px) {
    .contact-hours {
      display: flex; 
      justify-content: space-between; 
      align-items: flex-start;
      padding: 20px;
    }

    .hours h2 {
      margin-top: -120px; /* Moves hours title up to match contact title */
    }

    .contact h2 {
      margin-top: -50px; /* Moves contact title up to match mockup */
    }
  
    .contact, .hours {
      display: flex; 
      flex-direction: row;
      align-items: center;
    }
  
    .contact-info,
    .hours-info {
      display: flex; 
      flex-direction: column; 
    }

    .hours-info {
      margin-right: 20px;
    }  

    .contact, .hours { 
      display: flex;
      flex-direction: row;
      align-items: center; 
      justify-content: space-between; 
    }
  }
}

@media (min-width: 1440px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for XL screens */
  }
}

